:root {
  .home-header {
    background-color: #ffffff;
    min-height: 3vh;
    justify-content: center;
    text-align: center;
    font-size: calc(3px + 3vmin);
    color: #ffabab;
  }

  .home-main {
    align-items: center;
  }
}

.general-layout {
  background-color: #ffebeb;
  height: 100%;
}

.section__selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.section__selector--search {
  width: 100px
}

.section-products {
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.section__container--milk {
  display: grid;
  padding: 0px 30px;
  overflow-y: scroll;
}

.link__toDetails {
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.1s;
}

.section--milk {
  border: 1px solid #aeaeae;
  border-radius: 3%;
  margin: 10px 0px;
  overflow: hidden;
  cursor: pointer;
}

.section--milk__img {
  background-color: #eeeeee;
  align-content: center;
}

.section--milk__img--milk {
  margin: auto;
  padding: 10px;
  display: block;
  max-width: 50%;
  max-height: 30%;
  object-fit: scale-down;
}

.section--milk--info {
  background-color: #ffffff;
  margin: 0px;
  min-height: 5vh;
  font-size: calc(2px + 1.5rem);
  padding: 10px;
}

.h--milk--info--name {
  margin: 0px;
  padding: inherit;
  color: black;
}

.h--milk_inner--info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.h--milk--inner--info--type {
  margin: 0px;
  color: grey;
}

.h--milk--inner--info--storage {
  margin: 0px;

  color: #c5d86d;
}

.section__link--toHome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--toHome {
  margin: 20px;

}

.section--prodDetails {
  display: flex;
  justify-content: center;

}

.section--prodDetails--info {
  padding: 0px;
}

.section--prodDetails__img--container{
  background-color: #eeeeee;
  width: 200px;
  height: 150px;
  margin-right: 5px;
  margin-left: 15%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--prodDetails__img {
  max-width: 50%;
  max-height: 50%;
}

.section--prodDetails--info {
  width: 200px;
  height: 200px;
  padding-left: 5px;
  margin-right: 20px;
  margin-left: 5px;
  position: relative;
}

.section--prodDetails--info--data {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: calc(1px + 0.8rem);

}

.section--prodDetails--info--slider {
  padding-left: 5px;
}

.section--prodDetails--info--order {
  position: absolute;
  bottom: 0;
}

.section__button_order {
  cursor:pointer;

}


@media only screen and (min-width: 600px) {
  .section__selector {
    padding: 30px 100px;
  }

  .section-products {
    padding: 0px 100px;
  }

  .section__container--milk {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 100px;
    grid-column-gap: 20px;
  }

  .section--milk {
  }

  .section--milk--info {
    font-size: calc(2px + 1rem);
  }

  .link__toDetails:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
  }
  
  .link__toDetails:visited {
    text-decoration: none;
  }
  
  .link__toDetails:hover {
    text-decoration: none;
  }
  
  .link__toDetails:active {
    text-decoration: none;
  }
  
  .button--toHome {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.1s;
  }
  
  .button--toHome:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
  }
  
  .button--toHome:visited {
    text-decoration: none;
  }
  
  .button--toHome:hover {
    text-decoration: none;
  }
  
  .button--toHome:active {
    text-decoration: none;
  }

  .section--prodDetails {

    
  }
  
  .section--prodDetails--info {
    padding: 0px;
  }
  
  .button--toHome {
    margin: 20px
  }
  .section--prodDetails__img--container{
    background-color: #eeeeee;
    width: 200px;
    height: 200px;

  }

  .section--prodDetails--info {
    width: 200px;
    height: 200px;
  }
  
}

@media only screen and (min-width: 1200px) {
  .section__container--milk {
    grid-template-columns: repeat(4, 1fr);
  }

  .section--milk--info {
    font-size: 16px;
  }
  
  .section--prodDetails__img--container{
    background-color: #eeeeee;
    width: 300px;
    height: 300px;

  }

  .section--prodDetails--info {
    width: 300px;
    height: 300px;

  }

}
